
body{
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        height: 842px; 
        width: 595px;
        margin: 0 auto;		}
#cabecera{
        font-size: 12px;
}
table, td, th {
        border: 1px solid black;
        padding: 6px;
}

table {
        width: 100%;
        border-collapse: collapse;
}
.row-tr td{
   height: 26px;
   border: none;
   border-left: solid 1px black;
}
.row-det td{
    border:none;
    border-left: solid 1px black;
}
#sinbordes{
        border: hidden;
}